body {
    display: flex;
    justify-content: center;
    max-width: max-content;
    margin: auto;
    place-items: center;
    padding: 2rem;
}
div[class^="sum"] {
    display: flex;
    flex-direction: row;
}
div[status="inactive"] {
    display: none;
}
/* div[class^="menu-"] {
    margin-left: 10px;
    margin-right: 10px;
} */
div[class="menu"] {
    display: flex;
    margin: auto;
    /* width: 50%; */
    justify-content: center;
    place-items: center;
}